Source: pika-kde-desktop
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-kde-desktop-minimal
Source: meta-kde
Architecture: amd64
Depends: 
# KDE Base
    kwin-x11 (>= 4:5.26.4),
    sddm (>= 0.11),
    xserver-xorg,
    kdeconnect,
    plasma-workspace-wayland,
# Applications
    akregator (>= 4:22.08.3), 
    ark (>= 4:22.04.3), 
    mpv, 
    gwenview (>= 4:22.04.3), 
    kate (>= 4:22.04.3), 
    kcalc (>= 4:22.04.3), 
    kde-spectacle (>= 22.04.3), 
    khelpcenter (>= 4:22.04.3), 
    kmail (>= 4:22.08.3), 
    knotes (>= 4:22.08.3), 
    korganizer (>= 4:22.08.3), 
    kwalletmanager (>= 4:22.04.3), 
    okular (>= 4:22.04.3), 
    plasma-dataengines-addons (>= 4:5.26.4), 
    plasma-pa (>= 5.26.4), 
    plasma-runners-addons (>= 4:5.26.4), 
    plasma-wallpapers-addons (>= 4:5.26.4), 
    plasma-widgets-addons (>= 4:5.26.4), 
    polkit-kde-agent-1 (>= 4:5.26.4), 
    pika-kde-settings, 
    pika-sources, 
# Hardware
    pika-amdgpu-core,
    alsa-base,
    bluez,
    bluez-cups,
    cups-bsd,
    cups,
    fwupd,
    fwupdate,
    gstreamer1.0-alsa,
    ifupdown,
    laptop-detect,
    libblockdev-crypto2,
    libblockdev-mdraid2,
    libvdpau-va-gl1,
    lvm2,
    mesa-vulkan-drivers,
    network-manager,
    openprinting-ppds,
    pcmciautils,
    printer-driver-all,
    rfkill,
    ubuntu-drivers-common,
    wireless-tools,
# Pipewire
    libasound2-plugins,
    libldacbt-abr2,
    libldacbt-enc2,
    libfreeaptx0,
    libspa-0.2-bluetooth,
    libspa-0.2-jack,
    pipewire,
    pipewire-alsa,
    pipewire-jack,
    pipewire-pulse,
    pulseaudio-utils,
    wireplumber,
Recommends: 
    plasma-nm (>= 4:5.26.4),
# Applications
    firefox,
    gucharmap,
    ibus-table-emoji,
    libavcodec59,
    pika-welcome,
# Desktop
    dbus-broker,
    hidpi-daemon,
    flatpak,
    supergfxctl
Suggests: skanlite
Section: metapackages
Priority: optional
Homepage: https://www.kde.org
Description:  PikaOS Minimal KDE Desktop Metapackage
 
 
Package: pika-kde-desktop
Architecture: linux-any
Depends: ${misc:Depends},
# Pull minimal desktop
    pika-kde-desktop-minimal,
# Essential Apps
    build-essential,
    wget,
    git,
    curl,
# Gaming Utils
    pika-gameutils-meta,
# AMDGPU Utils
    pika-amdgpu-switcher,
    rocm-opencl-runtime,
    rocm-hip-runtime,
    rocm-hip-runtime-dev,
    pika-rocm-meta,
Recommends:
    va-driver-all,
    vdpau-driver-all,
    vlc,
    pika-codecs-meta,
    pika-office-meta,
Description: PikaOS KDE Desktop Metapackage
