Source: pika-kde-desktop
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-kde-desktop-minimal
Architecture: amd64
Depends: 
# KDE Base
    kde-plasma-desktop,
    kamera,
    kgamma5,
    kdegraphics-mobipocket,
    kdegraphics-thumbnailers,
    svgpart,
    plasma-pa,
    ffmpegthumbs,
    kdenetwork-filesharing,
    kde-zeroconf,
    dolphin-plugins,
    kwalletmanager,
    print-manager,
# Applications
    ark,
    filelight,
    kgpg,
    gwenview,
    kde-spectacle,
    okular,
    mpv,
    kcalc, 
    pika-kde-settings, 
    pika-sources, 
    pika-package-manager,
# Hardware
    pika-amdgpu-core,
    alsa-base,
    bluez,
    bluez-cups,
    cups-bsd,
    cups,
    fwupd,
    fwupdate,
    gstreamer1.0-alsa,
    ifupdown,
    laptop-detect,
    libblockdev-crypto2,
    libblockdev-mdraid2,
    libvdpau-va-gl1,
    lvm2,
    mesa-vulkan-drivers,
    network-manager,
    openprinting-ppds,
    pcmciautils,
    printer-driver-all,
    rfkill,
    ubuntu-drivers-common,
    wireless-tools,
# Pipewire
    libasound2-plugins,
    libldacbt-abr2,
    libldacbt-enc2,
    libfreeaptx0,
    libspa-0.2-bluetooth,
    libspa-0.2-jack,
    pipewire,
    pipewire-alsa,
    pipewire-jack,
    pipewire-pulse,
    pulseaudio-utils,
    wireplumber,
Recommends: 
    plasma-nm (>= 4:5.26.4),
# Applications
    firefox,
    gucharmap,
    ibus-table-emoji,
    libavcodec59,
    pika-welcome,
# Desktop
    dbus-broker,
    hidpi-daemon,
    flatpak,
    supergfxctl
Suggests: skanlite
Section: metapackages
Conflicts: plasma-discover, pika-gnome-layouts
Priority: optional
Homepage: https://www.kde.org
Description:  PikaOS Minimal KDE Desktop Metapackage
 
 
Package: pika-kde-desktop
Architecture: linux-any
Depends: ${misc:Depends},
# Pull minimal desktop
    pika-kde-desktop-minimal,
# Essential Apps
    build-essential,
    wget,
    git,
    curl,
# Gaming Utils
    pika-gameutils-meta,
# AMDGPU Utils
    pika-amdgpu-switcher,
    rocm-opencl-runtime,
    rocm-hip-runtime,
    rocm-hip-runtime-dev,
    pika-rocm-meta,
Recommends:
    va-driver-all,
    vdpau-driver-all,
    vlc,
    pika-codecs-meta,
    pika-office-meta,
Description: PikaOS KDE Desktop Metapackage
