Source: python3-setuptools-git-versioning
Section: devel
Priority: optional
Maintainer: Scarlett Moore <sgmoore@kde.org>
Build-Depends: debhelper (>= 12),
               dh-autoreconf,
               quilt,
               dh-python,
               python3,
               python3-setuptools,
               python3-pip,
               python3-setuptools-git,
               python3-wheel,
               python3-toml,
               python3-packaging
Standards-Version: 4.3.0
Homepage: https://setuptools-git-versioning.readthedocs.io

Package: python3-setuptools-git-versioning
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, python3-setuptools-git
Description: python3-setuptools-git-versioning
