Source: pika-baseos
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-baseos
Architecture: all
Depends: ${misc:Depends}, 
# Base
## General
    ubuntu-minimal,
    libglib2.0-bin,
    pika-package-manager,
    apt-transport-https,
    software-properties-common,
    avahi-autoipd,
    avahi-daemon,
    dbus-user-session,
    pika-sources,
    openssh-server,
    ppa-purge,
    nano,
    bash-completion,
    wget,
    curl,
    git,
    dbus-broker,
    flatpak,
    ca-certificates,
## gvfs backends
    gvfs-backends,
    gvfs-fuse,
    ibus-table,
## XDG
    policykit-desktop-privileges,
    xdg-desktop-portal-gnome,
    xdg-user-dirs-gtk,
    xdg-utils,
    xdg-terminal,
## Filesystems
    libblockdev-crypto2,
    libblockdev-mdraid2,
    lvm2,
    ecryptfs-utils,
    ntfs-3g,
    nfs-common,
    apfsprogs,
    btrfs-progs,
    e2fsprogs,
    exfatprogs,
    hfsprogs,
    xfsprogs,
# Hardware
    fwupd,
    fwupdate,
    pcmciautils,
    ubuntu-drivers-common,
    mousetweaks,
## Display and Graphics
    libegl-mesa0,
    libvdpau-va-gl1,
    mesa-vulkan-drivers,
    pika-amdgpu-core,
    xorg,
    libd3dadapter9-mesa,
    libegl-mesa0,
    libegl1-mesa,
    libgl1-mesa-dri,
    libgl1-mesa-glx,
    libglapi-mesa,
    libgles2-mesa,
    libglu1-mesa,
    libglw1-mesa,
    libwayland-egl1-mesa,
    mesa-utils,
    wayland-protocols,
    xwayland,
    hidpi-daemon,
## Power saving and laptops
    laptop-detect,
    supergfxctl,
    acpi,
    acpi-call-dkms,
## Printing
    cups-bsd,
    cups,
    openprinting-ppds,
    printer-driver-brlaser,
    printer-driver-c2esp,
    printer-driver-foo2zjs,
    printer-driver-gutenprint,
    printer-driver-m2300w,
    printer-driver-min12xxw,
    printer-driver-ptouch,
    printer-driver-pxljr,
    printer-driver-sag-gdi,
    printer-driver-splix,
    cups-client,
    cups-filters,
    cups-pk-helper,
## Networking and Bluetooth
    bluez,
    bluez-cups,
    ifupdown,
    network-manager,
    resolvconf,
    libnss-mdns,
    net-tools,
    libproxy1-plugin-gsettings,
    libproxy1-plugin-networkmanager,
    network-manager-wireguard-plugin,
    wireless-tools,
    rfkill,
    gstreamer1.0-plugins-base-apps,
    alsa-base,
    glib-networking,
    nfs-common,
    samba-common-bin,
    wpasupplicant,
## Audio and codecs
    libasound2-plugins,
    libldacbt-abr2,
    libldacbt-enc2,
    libfreeaptx0,
    libspa-0.2-bluetooth,
    libspa-0.2-jack,
    pipewire,
    pipewire-alsa,
    pipewire-jack,
    pipewire-pulse,
    pulseaudio-utils,
    wireplumber,
    gstreamer1.0-alsa,
Recommends: power-profiles-daemon
Conflicts: pulseaudio, pipewire-media-session
Description: The backbone of PikaOS
