Source: pika-baseos
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-baseos
Architecture: all
Depends: ${misc:Depends}, 
# Base
## General
    ubuntu-minimal,
    libglib2.0-bin,
    pika-package-manager,
    apt-transport-https,
    software-properties-common,
    avahi-autoipd,
    avahi-daemon,
    dbus-user-session,
    pika-sources,
    openssh-server,
    ppa-purge,
    nano,
    bash-completion,
    wget,
    curl,
    git,
    dbus-broker,
    flatpak,
    ca-certificates,
    libapr1,
    libaprutil1, 
    libxcb-cursor0,
## gvfs backends
    gvfs-backends,
    gvfs-fuse,
    ibus-table,
## XDG
    policykit-desktop-privileges,
    xdg-desktop-portal-gnome,
    xdg-user-dirs-gtk,
    xdg-utils,
    xdg-terminal,
## Filesystems
    libblockdev-crypto2,
    libblockdev-mdraid2,
    lvm2,
    ecryptfs-utils,
    ntfs-3g,
    nfs-common,
    apfsprogs,
    btrfs-progs,
    e2fsprogs,
    exfatprogs,
    hfsprogs,
    xfsprogs,
# Hardware
    fwupd,
    fwupdate,
    pcmciautils,
    ubuntu-drivers-common,
    mousetweaks,
## Display and Graphics
    libegl-mesa0,
    libvdpau-va-gl1,
    mesa-vulkan-drivers,
    pika-amdgpu-core,
    xorg,
    libd3dadapter9-mesa,
    libegl-mesa0,
    libegl1-mesa,
    libgl1-mesa-dri,
    libgl1-mesa-glx,
    libglapi-mesa,
    libgles2-mesa,
    libglu1-mesa,
    libglw1-mesa,
    libwayland-egl1-mesa,
    mesa-utils,
    wayland-protocols,
    xwayland,
    hidpi-daemon,
## Power saving and laptops
    laptop-detect,
    supergfxctl,
    acpi,
    acpi-call-dkms,
## Printing
    cups-bsd,
    cups,
    openprinting-ppds,
    printer-driver-brlaser,
    printer-driver-c2esp,
    printer-driver-foo2zjs,
    printer-driver-gutenprint,
    printer-driver-m2300w,
    printer-driver-min12xxw,
    printer-driver-ptouch,
    printer-driver-pxljr,
    printer-driver-sag-gdi,
    printer-driver-splix,
    cups-client,
    cups-filters,
    cups-pk-helper,
## Networking and Bluetooth
    bluez,
    bluez-cups,
    ifupdown,
    network-manager,
    resolvconf,
    libnss-mdns,
    net-tools,
    libproxy1-plugin-gsettings,
    libproxy1-plugin-networkmanager,
    network-manager-wireguard-plugin,
    wireless-tools,
    rfkill,
    gstreamer1.0-plugins-base-apps,
    alsa-base,
    glib-networking,
    nfs-common,
    samba-common-bin,
    wpasupplicant,
## Audio and codecs
    libasound2-plugins,
    libldacbt-abr2,
    libldacbt-enc2,
    libfreeaptx0,
    libspa-0.2-bluetooth,
    libspa-0.2-jack,
    pipewire,
    pipewire-alsa,
    pipewire-jack,
    pipewire-pulse,
    pulseaudio-utils,
    wireplumber,
    gstreamer1.0-alsa,
Recommends: power-profiles-daemon, custom-device-pollrates
Conflicts: pulseaudio, pipewire-media-session
Description: The backbone of PikaOS
Suggests:
## Make pika-gnome-desktop-minimal deps not go to autoremove
# BaseOS
    pika-baseos,
# Basic Session
    pika-session,
    pika-settings,
    gdm3,
    gnome-shell,
# Gnome VRR Session
    gnome-shell-vrr,
    mutter-vrr,
# Fonts
    fonts-cantarell,
    fonts-dejavu-core,
    fonts-freefont-ttf,
    fonts-liberation,
# Theming
    gnome-themes-standard,
    gnome-themes-extra,
    adwaita-icon-theme-full,
    adw-gtk3-theme,
    papirus-icon-theme,
    sound-theme-freedesktop,
# Plugins
    chrome-gnome-shell,
    ghostscript-x,
    gnome-bluetooth,
    gnome-online-miners,
    gnome-menus,
    gnome-video-effects,
    inputattach,
    libatk-adaptor,
    libcanberra-gtk-module,
    libpam-gnome-keyring,
    network-manager-pptp-gnome,
    network-manager-openvpn-gnome,
    appmenu-gtk2-module,
    appmenu-gtk3-module,
    brltty,
    language-selector-gnome,
    gnome-remote-desktop,
    gnome-shell-extension-legacy-gtk3-theme-scheme-auto-switcher,
    gnome-shell-extension-supergfxctl-gex,
    nautilus-share,
# Applications
    gnome-control-center,
    gnome-disk-utility,
    gnome-system-monitor,
    gnome-terminal | kgx,
    nautilus,
    fonts-noto-color-emoji,
    gnome-shell-extension-manager,
    gnome-tweaks,
    baobab,
    eog,
    firmware-manager,
    geary,
    gnome-text-editor,
    gnome-calculator,
    gnome-calendar,
    gnome-contacts,
    gnome-font-viewer,
    gnome-power-manager,
    gnome-weather,
    gnome-photos,
    gnome-sushi,
    gucharmap,
    ibus-table-emoji,
    pika-welcome,
    seahorse,
    simple-scan,
    yelp,
    pavucontrol,
## Last to replace mime information
    file-roller,
## Make pika-kde-desktop-minimal deps not go to autoremove
# BaseOS
    pika-baseos,
# Basic Session
    kde-plasma-desktop,
    kamera,
    kgamma5,
    svgpart,
    plasma-pa,
    plasma-nm,
    pika-kde-settings,
    plasma-workspace-wayland,
    kwin-x11,
    sddm,
# Fonts
    fonts-cantarell,
    fonts-dejavu-core,
    fonts-freefont-ttf,
    fonts-liberation,
    fonts-indic,
    fonts-kacst-one,
    fonts-khmeros-core,
    fonts-lao,
    fonts-liberation,
    fonts-lklug-sinhala,
    fonts-noto-cjk,
    fonts-noto-color-emoji,
    fonts-sil-abyssinica,
    fonts-sil-padauk,
    fonts-thai-tlwg,
    fonts-tibetan-machine,
    fonts-ubuntu,
# Theming
    breeze,
    breeze-icon-theme,
    breeze-gtk-theme,
    sddm-theme-breeze,
    papirus-icon-theme,
    sound-theme-freedesktop,
# Plugins
    ghostscript-x,
    inputattach,
    libatk-adaptor,
    libcanberra-gtk-module,
    appmenu-gtk2-module,
    appmenu-gtk3-module,
    kdenetwork-filesharing,
    kde-zeroconf,
    dolphin-plugins,
    kdegraphics-mobipocket,
    kdegraphics-thumbnailers,
    kdeconnect,
    kde-cli-tools,
    baloo-kf5,
    frameworkintegration,
    inputattach,
    khelpcenter,
    khotkeys,
    kinfocenter,
    kio,
    kio-extras,
    kmenuedit,
    kwrited,
    language-selector-common,
    bluedevil,
    powerdevil,
    desktop-file-utils,
    kde-config-gtk-style,
    kde-config-gtk-style-preview,
    kde-config-sddm,
    xdg-desktop-portal-kde,
    kde-config-tablet,
    polkit-kde-agent-1,
    go-mtpfs,
    kdialog,
    kimageformat-plugins,
    kio-audiocd,
    krdc,
    kscreen,
    kdialog,
    kio-fuse,
    kaccounts-integration,
    plasma-supergfxctl,
    plasma-browser-integration,
    plasma-calendar-addons,
    plasma-dataengines-addons,
    dbus-x11,
# Applications
    kwalletmanager,
    print-manager,
    fonts-noto-color-emoji,
    firmware-manager,
    gucharmap,
    ibus-table-emoji,
    pika-welcome,
    pavucontrol-qt,
    filelight,
    kgpg,
    gwenview,
    kde-spectacle,
    okular,
    mpv,
    kcalc,
    dolphin,
    kate,
    konsole,
    plasma-disks,
    plasma-firewall,
    plasma-systemmonitor,
    plasma-vault,
    ksystemlog,
    partitionmanager,
    gwenview,
## Last to replace mime information
    ark,
