Package: auto-cpufreq
Version: 1.9.6-99nobara1
Architecture: all
Maintainer: Scarlett Moore <sgmoore@kde.org>
Installed-Size: 185
Depends: dmidecode, python3-click, python3-psutil, python3-distro
Section: utils
Priority: optional
Homepage: https://github.com/AdnanHodzic/auto-cpufreq
Description: Automatic CPU speed & power optimizer for Linux based on active monitoring of laptop's battery state, CPU usage, CPU temperature and system load.
