Source: wine-meta
Section: otherosfs
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1

Package: wine
Architecture: amd64
Depends:${misc:Depends}, wine-staging | wine-devel | wine-stable, wine-staging-amd64 | wine-devel-amd64 | wine-stable-amd64, wine-staging-i386 | wine-devel-i386 | wine-stable-i386, winbind, dosbox | dosbox-staging, exe-thumbnailer | kio-extras
Conflicts: wine64, wine32
Provides: winehq-staging, winehq-stable, winehq-devel
Description:  Windows API implementation - standard suite
 Wine is a free MS-Windows API implementation.

