Source: protonup-qt
Section: misc
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Build-Depends: debhelper-compat (= 13), libfuse2, libfuse3-3
Standards-Version: 4.6.1
Homepage: https://github.com/DavidoTek/ProtonUp-Qt

Package: protonup-qt
Section: misc
Architecture: amd64
Depends: ${misc:Depends}, supergfxctl
Description: Install and manage GE-Proton, Luxtorpeda & more for Steam and Wine-GE & more for Lutris with this graphical user interface. 
