Source: pika-desktop
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-gnome-desktop-minimal
Architecture: linux-any
Essential: yes
Depends: ${misc:Depends},
# Main Session
    pika-session,
    pika-settings,
# Fonts
    fonts-cantarell,
    fonts-dejavu-core,
    fonts-freefont-ttf,
    fonts-liberation,
# Applications
    gnome-control-center,
    gnome-disk-utility,
    gnome-system-monitor,
    gnome-terminal | kgx,
    language-selector-gnome,
    nautilus,
# Theming
    gnome-themes-standard,
    gnome-themes-extra,
    adwaita-icon-theme-full,
    adw-gtk3-theme,
# Plugins
    chrome-gnome-shell,
    ghostscript-x,
    gnome-bluetooth,
    gnome-online-miners,
    gnome-menus,
    gnome-video-effects,
    gvfs-backends,
    gvfs-fuse,
    ibus-table,
    inputattach,
    libatk-adaptor,
    libcanberra-gtk-module,
    libegl-mesa0,
    libglib2.0-bin,
    libpam-gnome-keyring,
    pika-package-manager,
    libproxy1-plugin-gsettings,
    libproxy1-plugin-networkmanager,
    network-manager-pptp-gnome,
    network-manager-openvpn-gnome,
    sound-theme-freedesktop,
# Desktop
    gdm3,
    gnome-shell,
    xorg,
# Base
    apt-transport-https,
    avahi-autoipd,
    avahi-daemon,
    cryptsetup,
    dbus-user-session,
    ecryptfs-utils,
    glib-networking,
    gstreamer1.0-plugins-base-apps,
    libnss-mdns,
    net-tools,
    policykit-desktop-privileges,
    resolvconf,
    xdg-desktop-portal-gnome,
    xdg-user-dirs-gtk,
    xdg-utils,
    pika-sources,
    pika-amdgpu-core,
# Hardware
    alsa-base,
    bluez,
    bluez-cups,
    cups-bsd,
    cups,
    fwupd,
    fwupdate,
    gstreamer1.0-alsa,
    ifupdown,
    laptop-detect,
    libblockdev-crypto2,
    libblockdev-mdraid2,
    libvdpau-va-gl1,
    lvm2,
    mesa-vulkan-drivers,
    network-manager,
    openprinting-ppds,
    pcmciautils,
    printer-driver-all,
    rfkill,
    ubuntu-drivers-common,
    wireless-tools,
# Pipewire
    libasound2-plugins,
    libldacbt-abr2,
    libldacbt-enc2,
    libfreeaptx0,
    libspa-0.2-bluetooth,
    libspa-0.2-jack,
    pipewire,
    pipewire-alsa,
    pipewire-jack,
    pipewire-pulse,
    pulseaudio-utils,
    wireplumber,
# Fix for slow-opening applications
    appmenu-gtk2-module,
Recommends:
# Applications
    baobab,
    eog,
    evince,
    firefox,
    geary,
    gnome-text-editor,
    gnome-calculator,
    gnome-calendar,
    gnome-contacts,
    gnome-font-viewer,
    gnome-power-manager,
    gnome-weather,
    gucharmap,
    ibus-table-emoji,
    libavcodec59,
    libreoffice-calc,
    libreoffice-impress,
    libreoffice-writer,
    pika-welcome,
    seahorse,
    simple-scan,
    totem,
    yelp,
# Last to replace mime information
    file-roller,
# Plugins
    brltty,
    fonts-noto-color-emoji,
    gnome-remote-desktop,
    gnome-shell-extension-manager,
    libreoffice-gnome,
    libreoffice-ogltrans,
    sessioninstaller,
    appmenu-gtk3-module,
# Desktop
    dbus-broker,
    hidpi-daemon,
    flatpak,
    supergfxctl
Conflicts: pulseaudio, pipewire-media-session
Description: PikaOS Minimal Gnome Desktop Metapackage

Package: pika-gnome-desktop
Architecture: linux-any
Depends: ${misc:Depends},
# Pull minimal desktop
    pika-gnome-desktop-minimal,
# Essential Apps
    build-essential,
    wget,
    git,
    curl,
# Gnome VRR Session
    gnome-shell-vrr,
    mutter-vrr,
# Gaming Utils
    pika-gameutils-meta,
# AMDGPU Utils
    pika-amdgpu-switcher,
    rocm-opencl-runtime,
    rocm-hip-runtime,
    rocm-hip-runtime-dev,
    pika-rocm-meta,
# Nautilus Addons
    nautilus-admin,
    nautilus-share,
Recommends:
    va-driver-all,
    vdpau-driver-all,
    vlc,
    pika-codecs-meta,
Description: PikaOS Gnome Desktop Metapackage
