Source: kernel-pika
Section: kernel
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1


Package: kernel-pika
Section: kernel
Architecture: amd64
Depends: ${misc:Depends}, linux-image-cosmo-amd64, linux-headers-cosmo-amd64, kernel-pika-config
Description: metapackage for installing PikaOS kernel


Package: kernel-pika-config
Section: kernel
Architecture: amd64
Depends: ${misc:Depends}
Description: settings for the PikaOS kernel
Conflicts: linux-cosmo-config
Replaces: linux-cosmo-config
Provides: linux-cosmo-config
