#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_install:
	dh_install
	# Remove submodule conflicting files
	rm -rf debian/gamescope/usr/include
	rm -rf debian/gamescope/usr/lib/libopenvr_api.a
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/libliftoff.a
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/libwlroots.a
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/pkgconfig/libliftoff.pc
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/pkgconfig/wlroots.pc

%:
	dh $@
