Source: nobara-package-manager
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: nobara-package-manager
Architecture: any
Depends: ${misc:Depends}, nobara-mintdrivers, nobara-mintinstall, nobara-mintupdate, python-apt-common, repoman, repolib
Description: A Meta package to install nobara's collection of package management software
