Source: pika-settings
Section: gnome
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/PikaOS-Linux/


Package: pika-settings
Architecture: all
Depends: dconf-gsettings-backend | gsettings-backend, gnome-control-center-data, gsettings-desktop-schemas (>= 40), libglib2.0-bin (>= 2.53.4-3ubuntu1~)
Conflicts: ubuntu-settings
Replaces: ubuntu-settings
Provides: ubuntu-settings
Priority: optional
Description: default settings for the PikaOS Gnome desktop
