#!/usr/bin/make -f

export PKG_ROOT = debian/pika-settings

%:
	dh $@
	
override_dh_install:
	dh_install
	mkdir -p $(PKG_ROOT)
	mkdir -p $(PKG_ROOT)/usr/share
	cp -r debian/data/usr $(PKG_ROOT)/
	ln -sf /usr/share/ubuntu $(PKG_ROOT)/usr/share/pika
	ln -sf /usr/share/ubuntu-wayland $(PKG_ROOT)/usr/share/pika-wayland
