Source: pika-meta
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-package-manager
Architecture: all
Depends: ${misc:Depends}, 
	mintdrivers, 
	mintinstall, 
	mintupdate, 
	python-apt-common,
	gdebi,
	repoman,
	pikman,
	apx-subsystem-settings,
Description: A Meta package to install pika's collection of package management software.

Package: pika-gameutils-meta
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
	flatpak,
	pika-codecs-meta,
	gstreamer1.0-plugins-base,
	i965-va-driver,
	intel-media-va-driver-non-free,
	libaom3,
	libapparmor1,
	libaribb24-0,
	libasound2,
	libasound2-plugins,
	libasyncns0,
	libatk1.0-0,
	libatk-bridge2.0-0,
	libatomic1,
	libatspi2.0-0,
	libavahi-client3,
	libavahi-common3,
	libavahi-common-data,
	libavcodec59,
	libavutil57,
	libblkid1,
	libbrotli1,
	libbsd0,
	libbz2-1.0,
	libcairo2,
	libcairo-gobject2,
	libcap2,
	libcdparanoia0,
	libcodec2-1.0,
	libcolord2,
	libcups2,
	libcurl3-gnutls,
	libcurl4,
	libdatrie1,
	libdav1d6,
	libdb5.3,
	libdbus-1-3,
	libdecor-0-0,
	libdecor-0-plugin-1-cairo,
	libdeflate0,
	libdrm2,
	libdrm-amdgpu1,
	libdrm-intel1,
	libdrm-nouveau2,
	libdrm-radeon1,
	libdw1,
	libedit2,
	libegl1-mesa-dev,
	libegl-mesa0,
	libelf1,
	libepoxy0,
	libexif12,
	libexpat1,
	libflac8,
	libfontconfig1,
	libfreetype6,
	libfribidi0,
	libgbm1,
	libgbm-dev,
	libgcrypt20,
	libgd3,
	libgdbm6,
	libgdbm-compat4,
	libgdk-pixbuf-2.0-0,
	libgl1-mesa-dri,
	libglapi-mesa,
	libglib2.0-0,
	libglu1-mesa,
	libglvnd0,
	libglx-mesa0,
	libgmp10,
	libgnutls30,
	libgomp1,
	libgpg-error0,
	libgpg-error-l10n,
	libgphoto2-6,
	libgphoto2-port12,
	libgpm2,
	libgraphite2-3,
	libgsm1,
	libgstreamer1.0-0,
	libgstreamer-plugins-base1.0-0,
	libgtk-3-0,
	libharfbuzz0b,
	libhogweed6,
	libicu71,
	libieee1284-3,
	libigdgmm12,
	libjack-jackd2-0,
	libjbig0,
	libjpeg8,
	libjpeg-turbo8,
	liblcms2-2,
	libldap-2.5-0,
	libllvm15,
	libltdl7,
	liblz4-1,
	liblzma5,
	libmd0,
	libmount1,
	libmp3lame0,
	libncurses6,
	libnettle8,
	libnghttp2-14,
	libnspr4,
	libnss3,
	libnuma1,
	libodbc1,
	libodbc2,
	libodbccr2,
	libogg0,
	libopenal1,
	libopencore-amrnb0,
	libopencore-amrwb0,
	libopengl0,
	libopenjp2-7,
	libopus0,
	liborc-0.4-0,
	libosmesa6,
	libp11-kit0,
	libpango-1.0-0,
	libpangocairo-1.0-0,
	libpangoft2-1.0-0,
	libpcap0.8,
	libpci3,
	libpciaccess0,
	libpcre2-8-0,
	libperl5.34,
	libpixman-1-0,
	libpng16-16,
	libpoppler123,
	libpoppler-glib8,
	libpsl5,
	libpulse0,
	librsvg2-2,
	librsvg2-common,
	librtmp1,
	libsamplerate0,
	libsane1,
	libsasl2-2,
	libsasl2-modules,
	libsasl2-modules-db,
	libsdl2-2.0-0,
	libselinux1,
	libsensors5,
	libshine3,
	libsnappy1v5,
	libsndfile1,
	libsndio7.0,
	libsnmp40,
	libsoxr0,
	libspeex1,
	libspeexdsp1,
	libsqlite3-0,
	libssh-4,
	libsvtav1enc1,
	libswresample4,
	libsystemd0,
	libtasn1-6,
	libthai0,
	libtheora0,
	libtiff5,
	libtinfo6,
	libtwolame0,
	libudev1,
	libunwind8,
	libusb-1.0-0,
	libuuid1,
	libv4l-0,
	libv4lconvert0,
	libva2,
	libva-drm2,
	libva-x11-2,
	libvdpau1,
	libvisual-0.4-0,
	libvo-amrwbenc0,
	libvorbis0a,
	libvorbisenc2,
	libvpx7,
	libwayland-client0,
	libwayland-cursor0,
	libwayland-egl1,
	libwayland-server0,
	libwebp7,
	libwebpmux3,
	libwrap0,
	libx11-6,
	libx11-xcb1,
	libx264-164,
	libx265-199,
	libxatracker2,
	libxau6,
	libxcb1,
	libxcb-dri2-0,
	libxcb-dri3-0,
	libxcb-present0,
	libxcb-render0,
	libxcb-shm0,
	libxcb-sync1,
	libxcb-xfixes0,
	libxcomposite1,
	libxcursor1,
	libxdamage1,
	libxdmcp6,
	libxext6,
	libxfixes3,
	libxi6,
	libxinerama1,
	libxkbcommon0,
	libxml2,
	libxpm4,
	libxrandr2,
	libxrender1,
	libxshmfence1,
	libxss1,
	libxvidcore4,
	libxxf86vm1,
	libzstd1,
	libzvbi0,
	unrar,
	rar,
	mesa-common-dev,
	mesa-va-drivers,
	mesa-vdpau-drivers,
	mesa-vulkan-drivers,
	ocl-icd-libopencl1,
	wine,
	wine-staging | wine-devel | wine-stable,
	va-driver-all,
	steam-launcher,
	winetricks,
	lutris,
	vkbasalt,
	vkbasalt:i386,
	mangohud,
	mangohud:i386,
	gamemode,
	libgamemodeauto0:i386,
	intel-media-va-driver-non-free:i386,
	goverlay,
	gamescope-session,
Description: A Meta package to install pika's collection of gaming software.

Package: pika-codecs-meta
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
	ffmpeg,
	ffmpegthumbs,
	vlc,
	exe-thumbnailer, kio-extras, 
	fluidsynth, 
	timidity,
	intel-media-va-driver-non-free, 
	nvidia-vaapi-driver, 
	va-driver-all, 
	vdpau-driver-all,
	gstreamer1.0-libav,
	gstreamer1.0-plugins-bad,
	gstreamer1.0-plugins-base,
	gstreamer1.0-plugins-good,  
	gstreamer1.0-plugins-ugly, 
	gstreamer1.0-libav:i386, 
	gstreamer1.0-plugins-bad:i386, 
	gstreamer1.0-plugins-ugly:i386,
	intel-media-va-driver-non-free:i386,
	gstreamer1.0-vaapi,
	webp-pixbuf-loader,
	heif-gdk-pixbuf,
	heif-thumbnailer
Recommends:
	gnome-sushi	
Description: A Meta package to install pika's collection of codec software.

Package: pika-rocm-meta
Architecture: all
Depends: ${misc:Depends}, 
	pika-amdgpu-core,
	comgr,
	hip-runtime-amd,
	hsa-rocr,
	openmp-extras-runtime,
	rocm-core,
	rocm-device-libs,
	rocm-hip-runtime,
	rocm-hip-runtime-dev,
	rocm-language-runtime,
	rocm-llvm,
	rocm-ocl-icd,
	rocm-opencl,
	rocm-opencl-runtime,
	rocminfo,	
Description: A Meta package to install pika's collection of ROCm software.

Package: pika-office-meta
Architecture: all
Depends: ${misc:Depends}, 
	libreoffice-calc,
	libreoffice-impress,
	libreoffice-writer,
	libreoffice-gnome,
	libreoffice-ogltrans,
Description: A Meta package to install pika's collection of Office software.

