#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with translations

override_dh_install:
	dh_install

override_dh_translations:
	make ./po/dashtodock.pot
	dh_translations
