Package: nobara-rocm-meta
Source: nobara-meta
Version: 10:1.0-99nobara5
Architecture: all
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Installed-Size: 7
Depends: nobara-amdgpu-core, rocm-core, rocm-opencl-runtime, rocm-hip-runtime, rocm-hip-runtime-dev
Section: metapackages
Priority: optional
Description: A Meta package to install nobara's collection of ROCm software.
